* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.primary-btn {
  background: #e76f51;
  border-radius: 5px;
  color: aliceblue;
  padding: 10px 24px;
}
.primary-btn:hover {
  background: #e76f51;
  color: aliceblue;
}

.menu ul li {
  padding: 0 25px;
}
.menu ul li a,
.footer-menu ul li a {
  color: aliceblue;
}
.menu ul li a .active {
  color: aliceblue !important;
}
.atc-items {
  margin: 20px 0;
}
.footer-menu ul li {
  padding: 0px 15px 8px 0;
}
